# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Teru\Desktop\Ex_Files_Learning_Spring_Spring_Boot\Ex_Files_Learning_Spring_Spring_Boot\Exercise Files\Chapter5\05_02\05_02_end\learning-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
